@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:    url(assets/img/exchange-bg.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    background-color: rgb(255, 199, 46);
}

.wrapper {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
}

.wrapper header {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 45px 0 15px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
}

form input {
    height: 40px;
    font-size: 16px;
    padding: 0 12px;
    border: 1px solid rgb(131, 131, 131);
}

form input:focus{
    padding: 0 14px;
    border: 2px solid rgb(255, 199, 46);
}

.drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
}

.select-box select {
    width: auto;
    font-size: 16px;
    margin: 0 -3px 0 3px;
}

.select-box select::-webkit-scrollbar{
    width: 8px;
}

.select-box select::-webkit-scrollbar-track{
    background: white;
}

.select-box select::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-radius: 5px;
    border-right: 1px solid white;
}

.select-box img{
    max-width: 25px;
}

.drop-list .icon{
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}

form .exchange-rate{
    font-size: 17px;
    margin: 30px 0 30px;
    font-weight: bold;
    text-align: center;
}

form button{
    height: 50px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(-45deg, #ffce2c, #ff6208);
    opacity: 0.9;
    transition: 0.3s;    
}

form button:hover{
    opacity: 1; 
}
